:root {
  --verde-escuro: rgb(3, 107, 82);
  --verde-claro: rgb(47, 193, 140);
  --roxo-escuro: rgb(65, 25, 127);
  --roxo-claro: rgb(137, 88, 163);
  --azul-claro: rgb(0, 213, 226);
  --azul-escuro: rgb(0, 109, 251);
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-details a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--cinza1);
}

.students-details img {
  width: 50px;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

header .logo-title {
  display: flex;
  align-items: center;
}

.projects p {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.5s ease-in-out;
}

.selected {
  background-color: white;
  color: var(--verde-claro);
  transition: 0.5s ease-in-out;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details div{
  margin-bottom: 30px;
}

.steps {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.steps .step {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps .step h2 {
  margin-bottom: 30px;
}

.students-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}